body {
}

#wrapper {
    margin-top:52px;
    padding:10px;
}

#current-user {
    position:relative;
    min-width:100px;
}

#current-user > img {
    height: 30px;
    width: 30px;
    display: inline-block;
}

#quick-search {
    width:300px;
    background: #2B2E32 url("../images/icons/search-line-icon.png") no-repeat scroll 272px center;
    padding-right: 32px;
}


/*index page*/
.at-apps > .caption {
    text-align:center;
}

    .at-apps > .caption > h3 {
        font-size:20px;
    }

/*Dashboard Page*/
#dashboard-menu {
    padding: 0px;
    position: fixed;
    top:0;
    left: 1px;
    width:250px;
    background-color:#32383E;
    height:100%;
    padding-top:50px;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    overflow-y:auto;
}

    #dashboard-menu > .list-group > a {
        border:0;
    }

    #dashboard-menu > .list-group > a > span{
        margin-right:10px;
    }

    #dashboard-menu > .list-group > a:first-child, #dashboard-menu > .list-group > a:last-child {
        border-radius:0;
    }

#dashboard-content-title > span {
    margin-right:10px;
}

/*override bootstrap classes*/
a:hover, a:focus {
    text-decoration:none;
}

.form-control {
    background-color:#2B2E32;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    color:#fff;
}

.navbar {
    border-radius:0 !important;
}

.navbar-nav > li > a {
    min-height:30px;
    padding-top:10px;
    padding-bottom:10px;
    border-right: 0px solid rgba(0, 0, 0, 0.2) !important;
    border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
}

    .navbar-nav > li > a > .glyphicon {
        font-size:20px;
        height:30px;
    }

    .navbar-nav > li > a > .badge {
        position:absolute;
        top:2px;
        right:2px;
    }

.badge {
    background-color: red !important;
}